article {
    border: 0.3em solid #000000;
    padding: 1em;
    margin: 1em;
    border-radius: 3em;
    background-color: #FFFFFF;
    display: inline-block;
    width: 10em;
    text-align: center;
}

article img {
    width: 4em;
    height: 4em;
}
article p {
    margin: 1em 0;
}