 /* Ignacio Hovan Rojas UO295341*/

 /*Especificidad 001*/
 body{
    font-family: Arial, sans-serif;
    background-color: #B4F5F0;
    color: #041F60;
    
 }
 /*Especificidad 001*/
 header{
    background-color: #2CEEF0;
    color: #041F60;
    margin: -0.5em;
    padding: 0.5em;
}
 /*Especificidad 001*/
h1{
    color: #033F6D;/*background color en header*/
}
 /*Especificidad 001*/
nav{
    color: #033F6D;/*background color en header*/
   
}
 /*Especificidad 002*/
body>p {
    font-size: 0.5em;
}
 /*Especificidad 002*/
main a{
    text-decoration:underline;
    color: #000000;/*background color en body*/
}

 /*Especificidad 002*/
header a{
    text-decoration: none;
    color: #033F6D; /*background color en header*/
}
    

 /*Especificidad 001*/
main>ol{
    font-size: 1em;
    list-style-type: lower-roman;
}

 /*Especificidad 002*/
li::marker {
    color: #033F6D;
    font-weight: bold;  /*background color en body*/
    
}
 /*Especificidad 001*/
ul{
    font-size: 1em;
    
}
 /*Especificidad 002*/
ul ul{
    font-size: 0.7em;
}
/*Especificidad 001*/
dl{
    background-color: #2CEEF0; /*color especificado en body*/
   
}
/*Especificidad 001*/
dt{
    font-size: 1em;
    font-weight: bold;  
}
/*Especificidad 001*/
dd{
    font-size: 0.7em;
}

/*Especificidad 001*/
table {
    width: 100%;
    border-collapse: collapse;
    text-align:center;
    
}
/*Especificidad 001*/
caption{
    border-collapse: collapse;
    border: 0.3em solid #000000;

    text-align:center;
  }

 /*Especificidad 001*/
th {
    width: 10%;
    border: 0.3em solid #000000;

}
 /*Especificidad 001*/
td {
    width: 10%;
    border: 0.3em solid #000000;

}

/*Especificidad 001*/
video {
    width:75%;
    height:auto;
}
/*Especificidad 001*/
main>img {
    width: 60%;
    height: auto;
 }
/*Especificidad 001*/
audio{
    width: 50%;
}
/*Especificidad 010*/
.active{
    font-weight: bold;
    font-size: 1.3em;
}
/*Especificidad 002*/
main>figure{
    width:80%;
    height: 80%;
    margin-bottom: 0em;
}
/*Especificidad 003*/
main>figure>img{
    width:50%;
    height: 50%;
    margin-bottom: 0em;
}

/*Especificidad 011*/
figure:nth-last-of-type(1){
    height: 50vh;
}
@media screen and (max-width: 500px) {
    /*Especificidad 002*/
    body>p {
        display: none;
    }
}