/*Especificidad 001*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px; 

}


@media screen and (max-width: 750px) {
    /*Especificidad 010*/
    header{
        flex-direction: column;
        align-items:baseline;
    }
}

header nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.5em;
    column-gap: 0.5em; 
}