 /*Especificidad 002*/
body>main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 2vw;
    row-gap: 2vw;
  }
/*Especificidad 011*/
main > *:first-child {
    flex-basis: 100%;
    text-align: center;
  }
/*Especificidad 001*/
article {
    width: 20vw;
    height: 12vw;
    border: 0.4em solid black;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,.3);
    
}
/*Especificidad 011*/
article[data-state=flip],
article[data-state=revealed] {
    transform: rotateY(180deg);
}
/*Especificidad 002*/
article h3,
article img {
      margin: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 5px;
      background: #FFFFFF;
      color: #000;
      backface-visibility: hidden;
}

/*Especificidad 002*/
article h3 {
    font-size: 0.85em;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*Especificidad 002*/
article img {
    transform: rotateY(180deg);
}
@media screen and (max-width: 800px) {
    /*Especificidad 002*/
    article h3 {
        font-size: 3vw;/*Se redefine font size para que se vean bien las letras cuando se hace peque単o*/
    }
    /*Especificidad 001*/
    article {
        border: 0.2em solid black;
        width: 26vw;/*Se redefine width para que se vean bien las cartas cuando se hace peque単o*/
        height: 18vw;/*Se redefine height para que se vean bien las cartas cuando se hace peque単o*/
    }
}
@media screen and (max-width: 500px) {
    /*Especificidad 002*/
    article h3 {
        font-size: 3vw;/*Se redefine font size para que se vean bien las letras cuando se hace peque単o*/
    }
}
